/*MOBILE */

.section-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;


    &__image {
    display: flex;
    max-width: 450px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--background-light-color);
}

    &__title { 
    font-size: 14px;
    font-weight: 700;
    line-height: auto;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
}

    &__text {
    color: var(--descriptions-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.3px;
}
    &__item {
        padding: 0 15px;
    }
}

/* TABLET */

@media screen and (min-width:768px) {
    .section-list {
        max-width: 100%;
    
    &__title {
        text-align: left;
    }
    &__text {
        width: 100%;
    }
    .section-list__item {
        width: calc((100% - 30px)/ 2);
    }
}
}


/*DESKTOP*/

@media screen and (min-width: 1200px) {
   
    .section-list__image {
        width: 100%;
        max-width: 100%;
    }
    .section-list__text {
        width: 100%;
        max-width: 100%;
    }
    .section-list {
        width: 100%;
        max-width: 100%;
    }
    .section-list__item {
        width: 100%;
        max-width: 270px;
        padding: 0px;
    }
}